@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>First Develop commit</p>
    <p>Second Develop commit</p>

    <form id="cardInputForm">
        PIN: <input type="text" name="PIN" id="PIN"/><br />
        Name: <input type="text" name="Name" id="Name"/><br />
        Email: <input type="text" name="Email" id="Email"/><br />
    </form>
    <button onclick="addCard()" class="btn btn-primary">Add card</button>

    <div id="cardContent"></div>
</div>
